<html>
 <head>
	<meta charset="utf-8"/>
	<meta http-equiv= "X-UA-Compatible" content="IE-edge">
	<meta http-equiv= "Content-type" content="text/html; charset=UTF-8">
	<link href ="css/bootstrap.min.css" rel="stylesheet" type= "text/css" >
	
	<title>"Pagina Curso WEB Angular JS"</title>
	
</head>
<body class="contanier" ng-app="ModeloProcessoSoftware">
	<div class="header-inner">
		<h1 style="text-align: center; color:blue;">
		Bem Vindo ao curso de desenvolvimento WEB com Angular JS
		</h1>
	</div>
	<div class="navbar navbar-default" ng-controller="MenuController">
		<div class= "collapse navbar-collapse" id="menu">
			<ul class="nav navbar-nav">
				<li><a ng-click="irInicio()">Inicio</li>
				<li><a ng-click="irListagem()">Alunos</li>
				<li><a ng-click="irCadastro()">Cadastro</li>
				<li><a ng-click="irPrevisao()">Previsao do Tempo</li>
			</ul>	
		</div>
	</div>
	<div ui-view></div>
			
	<div class="container-fluid container-fixed-lg footer">
		<div style="copyright sm-text-center">
		<p class="small no-margin pull left sm-pull-reset">
			<span class="hint-text">Copyright @ 2015</span>
		</p>
		</div>
	</div>
	<script src="scripts\libs\angular.js"></script>	
	<script src="scripts\libs\ngResource.js"> </script>
	<script src="scripts\libs\angular-ui-router.js"></script>
	<script src="scripts\app.js"></script>
	<script src="scripts\listagem-controller.js"></script>
	<script src="scripts\nova-inscricao-controller.js"></script>
	<script src="scripts\previsao-tempo-controller.js"></script>
	<script src="scripts\alunos-collection-service.js"></script>
	<script src="scripts\menu-controller.js"></script>
</body>

</html>