<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<title>"Pagina Ferramento de Processo de Software"</title>
</head>

<body class="contanier" ng-app="FerramentaProcesso">

	<div class="header-inner">
		<h1 style="text-align: center; color:blue;">
			Bem Vindo
		</h1>
	</div>
	<br>
	<div class="btn-group" ng-controller="MenuController">
		<button type="button" class="btn btn-default" ng-click="irInicio()">Inicio</button>
		<button type="button" class="btn btn-default" ng-click="irViewModelo()">Modelos</button>
		<button type="button" class="btn btn-default" ng-click="irViewNivelMaturidade()">Nível de Maturidade</button>
		<button type="button" class="btn btn-default" ng-click="irPraticaEspecifica()">Pratica Especifica</button>
		<button type="button" class="btn btn-default" ng-click="irViewCategoria()">Categoria</button>
		<button type="button" class="btn btn-default" ng-click="irViewProdutoTrabalho()">Produto Trabalho</button>
		<button type="button" class="btn btn-default" ng-click="irMetaEspecifica()">Meta Especifica</button>
		<button type="button" class="btn btn-default" ng-click="irViewNivelCapacidade()">Nivel de Capacidade</button>
		<button type="button" class="btn btn-default" ng-click="irMetaGenerica()">Meta Generica</button>
		
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      	Cadastrar
      	<span class="caret"></span>
    	</button>
			<ul class="dropdown-menu">
				<li><a ng-click="irCadastroModelo()">Modelo</a></li>
				<li><a ng-click="irCadastroCategoria()">Categoria</a></li>	
				<li><a ng-click="irCadastroNivelMaturidade()">Nível de Maturidade</a></li>
				<li><a ng-click="irCadastroProdutoTrabalho()">Produto de Trabalho</a></li>
				<li><a ng-click="irCadatroPraticaEspecifica()">PraticaEspecifica</a></li>
				<li><a ng-click="irCadastroNivelCapacidade()">Nível de Capacidade</a></li>	
				<li><a ng-click="irCadastroMetaEspecifica()">Meta Especifica</a></li>
				<li><a ng-click="irCadatroMetaGenerica()">Meta Generica</a></li>
			</ul>
		</div>
	</div>
	<br>
	<br>
	<div ui-view></div>

	<script src="scripts\libs\angular.js"></script>
	<script src="scripts\libs\ngResource.js"></script>
	<script src="scripts\libs\angular-ui-router.js"></script>
	<script src="scripts\app.js"></script>
	<script src="scripts\views\inicial.html"></script>
	<script src="scripts\views\modelo-view.html"></script>
	<script src="scripts\views\modelo-cadastro.html"></script>
	<script src="scripts\views\nivelMaturidade-cadastro.html"></script>
	<script src="scripts\views\nivelMaturidade-view.html"></script>
	<script src="scripts\views\produtoTrabalho-cadastro.html"></script>
	<script src="scripts\views\praticaEspecifica-view.html"></script>
	<script src="scripts\views\categoria-cadastro.html"></script>
	<script src="scripts\views\categoria-view.html"></script>
	<script src="scripts\controllers\menu-controller.js"></script>
	<script src="scripts\controllers\geral-controller.js"></script>

	<script src="scripts\controllers\modelo-view-controller.js"></script>
	<script src="scripts\controllers\modelo-cadastro-controller.js"></script>
	<script src="scripts\controllers\nivelMaturidade-view-controller.js"></script>
	<script src="scripts\controllers\nivelMaturidade-cadastro-controller.js"></script>
	<script src="scripts\controllers\produtoTrabalho-cadastro-controller.js"></script>
	<script src="scripts\controllers\praticaEspecifica-cadastro-controller.js"></script>
	<script src="scripts\controllers\praticaEspecifica-view-controller.js"></script>

	<script src="scripts\directives\fileUpload-directive.js"></script>

	<script src="scripts\services\geral-service.js"></script>
	<script src="scripts\services\fileUpload-service.js"></script>
	<script src="scripts\services\praticaEspecifica-service.js"></script>
	<script src="scripts\services\nivelMaturidade-collection-service.js"></script>
	<script src="scripts\modelos-collection-service.js"></script>
</body>

</html>