<div ng-controller="metaEspecificaViewController" class="well" data-ng-init="selectMetaEspecifica()">
    <h2>Meta Especifica</h2>     
    <div class="table-responsive">
	<table class="table table-striped" >
	    <tr>
            <th>Nome</th>
		    <th>Sigla</th>
            <th>Descricao</th>
            
            <th>Modelo</th>
            <th>Pratica Especifica</th>
		</tr>
		<tr ng-repeat="meta in metas">
            <td> {{meta.nome}} </td>
		  	<td>
            {{meta.sigla}} 
            </td>
            <td>
	   		{{meta.descricao}}
	    	</td>
            <td>
            {{meta.id_modelo}}
            </td>  
            <td>
            {{meta.id_praticaespecifica}}
            </td>     
		</tr>
	</table>
    </div>
</div>