<div ng-controller="metaGenericaViewController" class="well" data-ng-init="selectMetaGenerica()">
    <h2>Meta Generica</h2>     
    <div class="table-responsive">
	<table class="table table-striped" >
	    <tr>
            <th>Nome</th>
		    <th>Sigla</th>
            <th>Descricao</th>
            
            <th>Modelo</th>
            <th>Nivel de Capacidade</th>
		</tr>
		<tr ng-repeat="meta in metas">
            <td> {{meta.nome}} </td>
		  	<td>
            {{meta.sigla}} 
            </td>
            <td>
	   		{{meta.descricao}}
	    	</td>
            <td>
            {{meta.id_modelo}}
            </td>  
            <td>
            {{meta.id_nivelcapacidade}}
            </td>     
		</tr>
	</table>
    </div>
</div>