<div class="well" ng-controller="CadastroModeloController">
		<h3>Cadastrar novo modelo</h3>
		<form name="form_1">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group form-group-default">
						<label>Sigla do Modelo</label>
						<input class="form-control" type="text" id="sigla_modelo" name="sigla_modelo" ng-model="sigla_modelo">					
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group form-group-default">
						<label>Nome Modelo</label>
						<input class="form-control" type="text" id="nome_modelo" name="nome_modelo" ng-model="nome_modelo" ng-minlength="3">					
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group form-group-default">
						<label>Descricao do Modelo</label>
						<input class="form-control" type="text" id="descricao_modelo" name="descricao_modelo" ng-model="descricao_modelo">					
					</div>
				</div>
			</div >
			<div class="row">
				<div class="col-md-4">
					<button ng-click="submeter()" class="btn btn-primary">Adicionar Modelo</button>
				</div>
			</div>
			
		</form>
</div>