<div ng-controller="ModeloViewController" class="well" data-ng-init="selectModelo()">
    <h4>Modelos de Processo de Software</h4>  
    <br>   
    <div class="table-responsive">
	<table class="table table-striped" >
	    <tr>
		    <th>Codigo</th>
            <th>Sigla</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th></th>
		</tr>
		<tr ng-repeat="modelo in modelos" id="modelos" name="modelos" ng-model="modelos">
		  	<td>{{modelo.id}} </td>
            <td>{{modelo.sigla}}</td>
            <td>{{modelo.nome}}	</td>
            <td>{{modelo.descricao}} </td>   
            <td><a class="btn btn-small btn-primary" ng-click="detalhesModelo(modelo.id)">Ver detalhes</a></td>  
		</tr>
	</table>
    </div>
    <button ng-click="imprimirPagina()" id='modelo-print' class="btn btn-primary">Imprimir</button>
</div>