<div class="well" ng-controller="CadastroNivelCapacidadeController" data-ng-init="selectModelo()">
		<h3>Cadastrar novo nível de Capacidade</h3>
		<br>
		<form name="form_nivelCapacidade">
			<div class="row">
				<div class="col-md-2">
					<div class="form-group form-group-default">
						<label>Sigla nível de capacidade</label>
						<input class="form-control" type="text" id="sigla_nivel" name="sigla_nivel" ng-model="sigla_nivel">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group form-group-default">
						<label>Nome nível de Capacidade</label>
						<input class="form-control" type="text" id="nome_nivel" name="nome_nivel" ng-model="nome_nivel">
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group form-group-default">
						<label>Descricao do nivel de capacidade</label>
						<input class="form-control" type="text" id="descricao_nivel" name="descricao_nivel" ng-model="descricao_nivel">
					</div>
				</div>
				<br>
				<div class="form-group form-group-default">
                    <label>Selecione o modelo desse Nivel</label><br>
                    <select name="modeloM" id="modeloM" ng-model="modeloM">
                     <option ng-repeat="modelo in modelos" value="{{modelo.id}}">{{modelo.sigla}}</option>
                    </select>
                </div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-4">
					<button ng-click="submeterNivelCapacidade()" class="btn btn-primary">Adicionar Nivel de Capacidade</button>
				</div>
			</div>
		</form>
	</div>