<div ng-controller="PraticaEspeficicaController" class="well" data-ng-init="selectPraticaEspecifica()">
    
    
    <h2>Pratice Especifica View</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Meta Especifica</th>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Descricao</th>
            </tr>
            <tr ng-repeat="praticaEspecifica in praticaEspecificas" id="praticaEspecifica" name="praticaEspecifica" ng-model="praticaEspecifica" >
                <td> {{praticaEspecifica.id}} </td>
                <td>
                    {{praticaEspecifica.sigla}}
                </td>
                <td>
                    {{praticaEspecifica.nome}}
                </td>
                <td>
                    {{praticaEspecifica.descricao}}
                </td>
            </tr>
        </table>

    </div>
</div>