<div ng-controller="PraticaEspeficicaController" class="well" data-ng-init="selectPraticaEspecifica()">
    <h2>Pratica Especifica</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Meta Especifica</th>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Descricao</th>
            </tr>
            <tr ng-repeat="nivel in niveis" id="niveis" name="niveis" ng-model="niveis" >
                <td> {{nivel.id}} </td>
                <td>
                    {{nivel.sigla}}
                </td>
                <td>
                    {{nivel.nome}}
                </td>
                <td>
                    {{nivel.descricao}}
                </td>
            </tr>
        </table> 

    </div>
</div>