<div ng-controller="NivelCapacidadeController" class="well" data-ng-init="selectNivelCapacidade()">
    <h2>Níveis de Capacidade</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Modelo de Maturidade</th>
            </tr>
            <tr ng-repeat="nivel in nivelCapacidade" id="nivelCapacidade" name="nivelCapacidade" ng-model="nivelCapacidade">
                <td>
                    {{nivel.sigla}}
                </td>
                <td>
                    {{nivel.nome}}
                </td>
                <td>
                    {{nivel.descricao}}
                </td>
                <td>
                    {{nivel.modelo}}
                </td>
            </tr>
        </table>
    </div>
</div>