<div ng-controller="ProdutoTrabalhoController" class="well" data-ng-init="selectProdutoTrabalho()" data-ng-init="selectModelo()">
    <h2>ProdutoTrabalho</h2>     
    <div class="table-responsive">
	<table class="table table-striped" >
	    <tr>
            <th>Modelos</th>
            <th>Nome</th>
		</tr>
		<tr ng-repeat="prodTRabalho in prodTRabalhos">
            <td> {{prodTRabalho.id_modelo}} </td>
		  	<td>
            {{prodTRabalho.nome}} 
            </td>

		</tr>
	</table>
    </div>
</div>